fastapi[standard]
sqlalchemy[asyncio]
validators
aiosqlite
httpx==0.27.0
pydantic==2.8.2
pytest==8.3.2
python_dateutil==2.9.0.post0
Requests==2.32.3
todoist_api_python==2.1.7
urllib3==1.26.18
validators==0.33.0
pytest-asyncio
